$font-family: 'Open Sans', sans-serif;

$font-weights: (
    'regular': 400,
    'semi-bold': 600,
    'bold': 700,
);

$colors: (
    'light-blue': #1682c3,
    'dark-blue': #00366e,
    'magenta': #e80077,
    'sky-blue': #a3eeff,
    'light-gray': #f3f3f3,
    'dark-gray': #333,
    'gray-bg': #e5e5e5,
    'very-dark-blue': #103459,
    'mobile-bg': #1f364e,
    'white': #fff,
);